<h3>スケジュール詳細</h3>

<table>
    <tr>
        <th>タイトル</th>
        <td><%= @task.title %></td>
    </tr>

    <tr>
        <th>開始日</th>
        <td><%= @task.start_date.to_s(:date_jp) %></td>
    </tr>

    <tr>
        <th>投稿日時</th>
        <td><%= @task.created_at.to_s(:date_jp) %></td>
    </tr>

    <tr>
        <th>終日</th>
        <td>
            <% if @task.all_day == true %>
                ○
            <% end %>
        </td>
    </tr>

    <tr>
        <th>スケジュールメモ</th>
        <td><%= @task.memo %></td>
    </tr>
</table>